@keyframes change_img{
    /* from {background-color: red;} */
    from {width: 200px;}
    to {width: 100px;}
}
.box{
    width: 450px;
    height: 300px;
    /* background-color: black; */
}
.box-anima{
    animation-name: change_img;
    animation-duration: 2s;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
}