@keyframes change-color{
    0% {background-color: red; top:100px; left: 100px;}
    30% {background-color: rgb(115, 255, 0); top:200px; left: 200px;}
    60% {background-color: rgb(0, 21, 255); top:300px; left: 300px;}
    100% {background-color: rgb(255, 0, 170); top:400px; left: 400px;}
}
.box{
    width:200px;
    height: 200px;
    background-color: gray;
    position: relative;
}

.box-animation{
    animation-name:change-color;
    animation-duration: 5s;
    animation-iteration-count: 3;
}
