.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    border: 2px solid red;
    justify-content: center;
    align-content: center;
}
.container div{
    padding: 5px;
    width: 100px;
    height: 20px;
    border: 2px blue solid;
}
    
.box1{
    
}
.box2{

}
.box3{

}
